/* Reset CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", Arial;
  line-height: 1.6rem;
  font-size: 14px;
}

/* CSS color */
:root {
  --button-color: rgb(27, 175, 105);
  --button-color-hover: #2ebc5f;
}

/* CSS frame */

.grid {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.grid__column-8 {
  padding-left: 5px;
  padding-right: 5px;
  width: 12.5%;
}

/* CSS for header */
.header__menu--link:hover {
  color: var(--button-color-hover);
}

/* CSS for login, logout, register */
.navbar__login-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar__login--link {
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 2px;
  text-decoration: none;
  color: #111;
  background-color: #fff;
  height: 35px;
  margin: 5px 0;
  padding: 0 10px;
  line-height: 35px;
  border: none;
  outline: none;
}

.navbar__login--link:hover {
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.navbar__login--icon {
  color: black;
  padding: 0 10px 0 0;
}

/* for the flash messages */
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.alert {
  animation: fadeout 5s forwards;
}

/* CSS for film-area */
.film-area .grid__row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.film-area .grid__column-8 {
  flex: 1 1 calc(25% - 16px);
  max-width: 160px;
  box-sizing: border-box;
}

.film {
  display: block;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.film__poster {
  width: auto;
  height: auto;
  position: relative;
}

.film__play {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #1baf69;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: opacity 0.3s ease;
}

.film__poster:hover .film__play {
  opacity: 1;
}

.film__poster::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  background: rgba(22, 22, 22, 0.5);
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 240px;
  border-radius: 10px;
  transition: opacity 0.3s ease;
  /* Đặt thời gian chuyển đổi là 0.3s */
}

.film__poster:hover::after {
  opacity: 1;
}

.film-area__title {
  color: rgb(17, 17, 17);
  font-size: 30px !important;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 10px;
  margin: 0;
}

.film__quality {
  color: #111;
  background: #fff;
  position: absolute;
  z-index: 5;
  top: 10px;
  right: 10px;
  font-size: 14px;
  font-family: arial;
  font-weight: 600;
  display: inline-block;
  padding: 3px 4px;
  border-radius: 2px;
}

.film__img {
  width: 100%;
  height: 240px;
  min-height: 100%;
  border-style: none;
  border-radius: 10px;
}

.film__details {
  margin-bottom: 10px;
  text-align: center;
  background: 0;
  padding: 0;
}

.film__name {
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  font-size: 14px;
  line-height: 1.3em;
}

.film__link {
  color: black;
  text-decoration: none;
}

.film__infor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.film__infor--container {
  display: inline-flex;
  align-items: center;
}

.film__infor--year {
  font-size: 0.95em;
  padding-right: 5px;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #666;
}

.film__infor--minute {
  font-size: 0.95em;
  padding-left: 5px;
}

.film__infor--type {
  font-size: 0.9em;
  line-height: 1em;
  padding: 2px 4px;
  border: 1px solid #aaa;
  border-radius: 3px;
  float: right;
}

.closeButton {
  position: absolute;
  top: -15px;
  right: -15px;
  color: #111;
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  z-index: 3;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  padding: 0;
  opacity: 1;
  text-shadow: none;
  border: none;
  cursor: pointer;
}

.closeButton:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

/* CSS footer */
.footer {
  background: #000;
  padding: 40px 0;
  color: #b9b9b9;
  position: relative;
}

.f-container {
  position: relative;
  height: 90px;
  width: 1400px;
  margin: 0 auto;
}

.f-about {
  display: inline-block;
  width: 650px;
  padding-left: 150px;
}

.f-text {
  margin-bottom: 15px;
  font: 15px Arial;
}

.f-menu {
  color: #fff;
  font: 14px Arial;
}

.f-notice {
  float: right;
  width: 380px;
  font: 14px Arial;
  border: 1px solid #393939;
  padding: 10px;
  line-height: 1.3em;
}

.f-logo {
  display: inline-block;
}

.logo {
  height: 46px;
}

/* CSS for login/register form  */

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.modal__form {
  position: relative;
  margin: auto;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  translate: 0 50%;
}

#closeForm {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  border-radius: 50%;
  line-height: 40px;
  translate: 50% -50%;
  cursor: pointer;
  border: none;
}
