/* CSS for header  */

.header {
  background-color: rgb(12, 54, 51);
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__logo {
  display: inline-block;
  height: 35px;
  margin: 15px 30px 15px 0;
}

.header__logo--img {
  height: 100%;
  width: auto;
  margin-right: 10px;
}

.header__menu {
  flex: 1;
  height: 65px;
  margin: 0;
}

.header__menu--list {
  display: flex;
  height: 100%;
  list-style: none;
  align-items: center;
}

.header__menu--item {
  margin: 0 3px;
  margin: 0;
  padding: 0 20px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header__menu--link {
  text-decoration: none;
  color: #fff;
}

.navbar__typelist {
  display: none;
  position: absolute;
  top: 20px;
  left: 0px;
  width: 700px;
  background: white;
  z-index: 10;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: left;
  list-style: none;
  overflow: hidden;
  margin-left: -1%;
  margin-right: -1%;
  text-transform: none;
}

.navbar__typelist--item {
  width: 23%;
  float: left;
  margin: 0 1%;
}

.navbar__typelist--link {
  text-decoration: none;
  height: 30px;
  color: #ccc;
  line-height: 30px;
  padding: 0 10px;
  display: block;
  font-size: 15px;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar__typelist--link:hover {
  background-color: var(--button-color);
}

.navbar__genre:hover .navbar__typelist {
  display: block;
}

.navbar__genre,
.navbar__country {
  position: relative;
}

.header__right {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header__right--search {
  display: flex;
  width: 200px;
  height: 38px;
  padding-right: 40px;
  align-items: center;
  background: #fff;
  border-radius: 30px;
}

.header__right--search-icon {
  padding: 0 13px;
  line-height: 38px;
  color: #111;
  font-size: 14px;
  text-align: center;
}

.header__right--input {
  width: 150px;
  color: #111;
  font-size: 14px;
  font-weight: 300;
  border: none;
  outline: none;
}

.header__right--login {
  color: white;
}

.header__right--login-icon {
  width: 40px;
  height: 38px;
  line-height: 38px;
  color: white;
  font-size: 14px;
  text-align: center;
}

/* CSS container */
.vd-prebread {
  padding-left: 56px;
  padding-bottom: 10px;
}

.vd-prelist {
  list-style: none;
  display: inline-block;
}

.vd-prelist a {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: medium;
  text-decoration: none;
}

.videoplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS footer */
.footer {
  background: #000;
  padding: 40px 0;
  color: #b9b9b9;
  position: relative;

}

.f-container {
  position: relative;
  height: 90px;
  width: 1400px;
  margin: 0 auto;
}

.f-about {
  display: inline-block;
  width: 650px;
  padding-left: 150px;
}

.f-text {
  margin-bottom: 15px;
  font: 15px Arial;
}

.f-menu {
  color: #fff;
  font: 14px Arial;
}

.f-notice {
  float: right;
  width: 380px;
  font: 14px Arial;
  border: 1px solid #393939;
  padding: 10px;
  line-height: 1.3em;
}



.f-logo {
  display: inline-block;
}

.logo {
  height: 46px;
}