<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ url_for('static', filename = 'base.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename = 'movie-watching.css')}}" />
  {% block head %} {% endblock %}
</head>

<body>
  <div class="app">
    <div class="header">
      <div class="grid">
        <div class="header__wrapper">
          <div class="header__logo">
            <img src="static/images/logo.png" alt="logo" class="header__logo--img" />
          </div>
          <div class="header__menu">
            <ul class="header__menu--list">
              <li class="header__menu--item">
                <a href="{{ url_for('index')}}" class="header__menu--link">Home</a>
              </li>
              <li class="header__menu--item navbar__genre">
                <a href="" class="header__menu--link">Genre</a>
                <ul class="navbar__typelist">
                  <li class="navbar__typelist--item">
                    <a href="" class="navbar__typelist--link">Action</a>
                  </li>
                  <li class="navbar__typelist--item">
                    <a href="" class="navbar__typelist--link">Action</a>
                  </li>
                  <li class="navbar__typelist--item">
                    <a href="" class="navbar__typelist--link">Action</a>
                  </li>
                  <li class="navbar__typelist--item">
                    <a href="" class="navbar__typelist--link">Action</a>
                  </li>
                  <li class="navbar__typelist--item">
                    <a href="" class="navbar__typelist--link">Action</a>
                  </li>
                  <li class="navbar__typelist--item">
                    <a href="" class="navbar__typelist--link">Action</a>
                  </li>
                  <li class="navbar__typelist--item">
                    <a href="" class="navbar__typelist--link">Action</a>
                  </li>
                  <li class="navbar__typelist--item">
                    <a href="" class="navbar__typelist--link">Action</a>
                  </li>
                </ul>
              </li>
              <li class="header__menu--item">
                <a href="{{ url_for('movies')}}" class="header__menu--link">Movies</a>
              </li>
              <li class="header__menu--item">
                <a href="https://www.imdb.com/chart/top/" class="header__menu--link">Top IMDB</a>
              </li>
            </ul>
          </div>
          <div class="header__right">
            <form action="" class="header__right--search">
              <i class="fa-solid fa-magnifying-glass header__right--search-icon"></i>
              <input type="text" class="header__right--input" placeholder="Enter keywords" />
            </form>
            {% if current_user.is_authenticated %}
            <div class="navbar__login-container">
              <div class="navbar__login">
                <a class="navbar__login--link">
                  <i class="fa-regular fa-user navbar__login--icon"></i>
                  {{ current_user.username }}
                </a>
              </div>
              <div class="navbar__login">
                <a class="navbar__login--link" href="{{ url_for('logout')}}">
                  Logout
                </a>
              </div>
            </div>
            {% else %}
            <div class="navbar__login-container">
              <div class="navbar__login">
                <a class="navbar__login--link">
                  <i class="fa-regular fa-user navbar__login--icon"></i>
                  Login
                </a>
              </div>
              <div class="navbar__login">
                <a class="navbar__login--link">
                  <i class="fa-regular fa-user navbar__login--icon"></i>
                  Register
                </a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}" style="background-color:darkcyan;
                    color: white; 
                    padding: 15px; 
                    margin-bottom: 10px; 
                    border-radius: 10px; 
                    display: flex; 
                    justify-content: space-between; 
                    align-items: center; 
                    animation: fadeout 5s forwards;
                    max-width: 500px;
                    margin: auto;">
        <button type="button" class="close-btn" aria-label="Close" onclick="this.parentElement.style.display='none';"
          style="background: none; border: none; color: white; cursor: pointer; margin-left: 15px;">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      {% block content %} {% endblock %}
    </div>
    <div class="footer">
      <div class="f-container">
        <div class="f-logo">
          <img src="https://zoechip.cc/images/group_1/theme_3/logo.png?v=0.1" class="logo">
          <p>© Zoechip</p>
        </div>
        <div class="f-about">
          <div class="f-text">
            Zoechip is a Free Movies streaming site with zero ads. We let you watch movies online without having
            to
            register or paying, with over 10000 movies and TV-Series. You can also Download full movies from
            Zoechip
            and watch it later if you want. </div>
          <div class="f-menu"> Android App - Terms of service - Contact - Sitemap - FAQ</div>
        </div>
        <div class="f-notice">
          <span class="f-notice-span">Zoechip does not store any files on our server, we only linked to the media
            which is hosted on 3rd
            party services.</span>
        </div>
      </div>
    </div>
  </div>
</body>

</html>