{% extends 'base.html' %} {% block head %}
<title>Watching</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename = 'movie-watching.css')}}"
/>
{% endblock %} {% block content %}
<div class="vd-prebread">
  <li class="vd-prelist">
    <a href="{{ url_for('index')}}" title="Home">Home /</a>
  </li>
  <li class="vd-prelist">
    <a href="{{ url_for('movies')}}" title="Movies">Movies /</a>
  </li>
  <li class="vd-prelist">
    <a
      href="{{ url_for}}"
      title="{{ movie.movie_title }}"
      >{{ movie.movie_title }}</a
    >
  </li>
</div>
<div class="videoplay">
  <video width="1200px" height="600px" controls>
    <source src="{{ url_for('static', filename = path) }}" type="video/mp4" />
    Trình duyệt của bạn không hỗ trợ thẻ video.
  </video>
</div>

{% endblock %}
