{% extends 'base.html' %}

{% block head %}
<title>Movie Description</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'movie-description.css')}}" />
{% endblock %}

{% block content %}
<div class="content">
    <div class="prebread">
        <li class="prelist">
            <a href="{{ url_for('index')}}" title="Home">Home /</a>
        </li>
        <li class="prelist">
            <a href="{{ url_for('movies')}}" title="Movies">Movies /</a>
        </li>
        {% set name = movie.movie_title %}
        <li class="prelist">
            <a href="#" onclick="window.location.href='{{ url_for('description', movie_title=movie.movie_title) }}'; return false;" title="{{ movie.movie_title }}">{{ movie.movie_title }}</a>
        </li>
    </div>
    <div class="cover_img"
        style="background-image: url(https://f.woowoowoowoo.net/resize/178x268/4a/e4/4ae472fe454bc93d290f5099568f30af/4ae472fe454bc93d290f5099568f30af.jpg);">
    </div>
    <div class="container grid">

        <div class="kolmj">
            <a href="#" onclick="window.location.href='{{ url_for('watching', movie_title=movie.movie_title) }}'; return false;" class="d_play">
                <i class="fa fa-play"></i></a>
        </div>
        <div class="details__khung"> 
            <div class="details__left">
                <div class="details__poster">
                    <img style="border-radius: 10px;" src="https://f.woowoowoowoo.net/resize/178x268/38/d5/38d557d9a4f2622eb1a7f0f412a65cc5/38d557d9a4f2622eb1a7f0f412a65cc5.jpg" alt="">
                </div>
                <div class="details__vote">0.0/0 voted</div>
                <button class="details__like" onclick="likemovie"><i class="fa-solid fa-thumbs-up"></i> Like</button>
                <button class="details__dislike " onclick="dislikemovie"><i class="fa-solid fa-thumbs-down"></i> Dislike</button>
            </div>
            <div class="details__right">
                <div class="details__watch">
                    <button class="details__watchnow" onclick="window.location.href='{{ url_for('watching', movie_title=movie.movie_title) }}'; return false;" title="Watch now"><i class="fa-solid fa-play"></i>        Watch now</button>
                    <button class="details__add"><i class="fa-solid fa-plus" onclick="add_favorite"></i> Add to favorite</button>
                </div>
                <h2 class="details__heading-name">{{ movie.movie_title }}</h2>
                <div class="details__review">
                    <button style="height: 35px; width: 80px; margin-right: 10px;"><i class="fa-solid fa-video"></i> Trailer</button>
                    <button style="height: 35px; width: 60px;"><b>CAM</b></button>
                    <div>
                        <h3 style="color: orange; margin-left: 10px; padding: 0;line-height: 35px;">IMDB:10.0</h3>
                    </div>
                </div>
                <div class="details__description">{{ movie.overview }}</div>
                <div class="details__elements">
                    <div id="details__element1">
                            <div><b>Released:</b>{{ movie.release_date }}</div>
                            <div><b>Genre:</b><a href="genre/documentary">Documentary</a></div>
                            <div><b>Casts:</b>{{ movie.actor_1_name }}  ,  {{ movie.actor_2_name }}  ,  {{ movie.actor_3_name }}</div>
                        </ul>
                    </div>
                    <div id="details__element2">
                            <div><b>Duration:</b>{{ movie.runtime}} min</div>
                            <div><b>Country:</b><a href="country/US">United States</a></div>
                            <div><b>Production:</b><a href="production/story-syndicate"> Story Syndicate</a>
                                <a href="production/carr-lot-productions"> Carr Lot Productions</a></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}